@font-face {
  font-family: 'Roboto Flex';
  src: url('RobotoFlex[GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght].ttf');
  font-weight: 100 1000;
font-stretch: 25% 151%;
}

@font-face {
  font-family: 'Object Sans';
  src: url('ObjectSans-Regular.woff2');
  font-weight: 100 1000;
font-stretch: 25% 151%;
}


html {  
  margin: 0;
  padding: 0;
  font-family: 'Object Sans';
  box-sizing: border-box;
  background-color: white;
}

*, *:before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

header > h1 {
  margin-left: 18vw;
}

.menu {
  margin-right: 10px;;
}

#inputSection {
  text-align: center;
  margin-top: 25px;
}


#main {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 20px;
}

#main > div > p {
  text-align: center;
}

ul {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 10px;
  max-width: 50vw;
}

li {
  margin: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  list-style-type: none;
  cursor: grab;
}

.riderBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  padding-left: 20px;
}

.buttonsContainer > button {
  padding: 2px 5px;
  margin: 0;
  border: transparent;
  background-color: white;
  cursor: pointer;
}

.break {
  background-image: url(images/break-icon-1.2.svg);
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  align-self: center;
}

.addRiderBoxContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  /* border: 3px solid black; */
  top: 100px;
  left: 50%;
  height: 200px;
  width: 300px;
  margin-left: -150px;
  box-shadow: 1px 5px 10px grey;
}

.addRiderBoxContainer > button {
  background-color: white;
  padding: 5px 20px;
  border: 1px solid black;
}

.addRider {
  font-size: 40px;
  cursor: default;
}


