@import 'constants.css';

.login-background {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    box-shadow: 0 4px 30px 0px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
    width: 800px;
    background-color: white;
    background-image: url(../images/rider.png);
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 400px;
}

.form-container {
    background-color: white;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem 3rem 3rem;
    color: #585858;
    width: 400px;
    border-radius: 24px 0 0 24px;
}

.logo-container {
    width: 200px;
    align-self: center;
}

.logo-container > img {
    width: 100%;
    margin-bottom: .8em;
}

.form-container > h1 {
    font-size: 1.4rem;
    margin-bottom: 2.6rem;
    color: #585858;
    align-self: center;
}

.form-container > label {
    color: #7B7979;
}

.form-container > input {
    margin-bottom: 1.4rem;
    margin-top: .4em;
}

.form-container > button, .form-container > input[type = 'submit'] {
    margin-top: .8em;
    margin-bottom: 1.4em;
    font-size: 1.1rem;
    height: 2em;
    cursor: pointer;
}

.login-cta {
    font-size: 1rem;
    color: #7B7979;
    align-self: center;
}