/* Animation classes */
.pop-up-opacityIn {
    opacity: 1;
  }
  
  .pop-up-top {
    top: 4%;
  }
  
  .pop-up-opacityOut {
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .pop-up-sizeNormal {
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.15s;
  }