@font-face {
  font-family: 'Roboto Flex';
  src: url('fonts/RobotoFlex[GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght].ttf');
  font-weight: 100 1000;
font-stretch: 25% 151%;
}

@font-face {
  font-family: 'Object Sans';
  src: url('fonts/ObjectSans-Regular.woff2');
  font-weight: 100 1000;
font-stretch: 25% 151%;
}

@font-face {
  font-family: 'Object Sans Bold';
  src: url('fonts/ObjectSans-Bold.woff2');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}

*, *:before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {  
  margin: 0;
  padding: 0;
  font-family: 'Object Sans';
  box-sizing: border-box;
  background-color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: black;
    font-size: 2rem;
}

.logo {
  margin-left: 20px;
}

.pageTitle {
  margin-left: 20px;
  font-family: 'Object Sans';
}

.plusBox {
  display: flex;
  font-size: 50px;
  cursor: pointer;
  margin-left: 30px;
  margin-top: -4px;
  border: 2px solid black;
  height: 22px;
  width: 22px;
}

.plus {
  width: 12px;
  height: 12px;
  margin-left: 3px;
  margin-top: 3px;
}

.menuIcon {
  margin-right: 25px;
  cursor: pointer;
  margin-left: auto;
}

#main {
  display: grid;
  justify-content: end;
  grid-template-columns: 50% 50%;
  /* padding: 20px; */
}

#main > div > p {
  text-align: center;
  font-size: 22px;
}

ul {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  border-radius: 10px;
  max-width: 50vw;
}

li {
  margin: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border: 1px solid black;
  list-style-type: none;
  cursor: pointer;
  height: 100%;
  padding:  6px 6px 2px 6px;
}

.riderBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* padding: 5px; */
}

.riderDetails {
  /* padding: 5px; */
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  padding-left: 20px;
}

.buttonsContainer > button {
  padding: 2px 5px;
  margin: 0;
  border: transparent;
  background-color: white;
  cursor: pointer;
}

.break {
  background-image: url(images/break-icon.svg);
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  align-self: baseline;
}

.addRiderBoxContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  border: 10px solid black;
  top: calc(50vh - 100px);
  left: 50%;
  min-height: 200px;
  width: 300px;
  margin-left: -150px;
  box-shadow: 4px 4px 12px 0px grey;
}

.addRiderBoxContainer > button {
  background-color: white;
  padding: 5px 20px;
  border: 1px solid black;
}

.dropdownBikeSelector {
  width: 150px;
}

.bikeVisibleInfo {
  display: grid;
  grid-template-columns: 100px 150px auto auto;
  padding-top: 10px;
  padding-left: 10px;
  border-bottom: 1px solid #cbcbcb;
  align-content: center;
}
.bikeEditButton {
  width: 80px;
  justify-self: end;
}

.menuBox {
  background-color: black;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 33vw;
  height: 100vh;
  top: 0;
  right: -33vw;
  border: 1px solid black;
  color: white;
  font-size: 2.3rem;
  padding: 20px;
  transition: transform 300ms ease-in-out;
}

.menuBox.opened {
  transform: translate(-33vw, 0);
}

.menuBox.closed {
  transform: translate(33vw, 0);
}


.menuBox > * {
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
}

.closeMenu {
  width: 25px;
  align-self: flex-end;
}

.bikesContainer {
  margin: 20px 30px;
}

.riders-tab-container {
  display: flex;
  flex-direction: column;
}

.menu-tab {
  font-size: 2.2rem;
  margin-left: .5rem;
  padding-top: 6px;
}

.riders-tab-container > * {
  margin-left: 1rem;
  padding-top: 1rem;
  font-size: 1rem;
  text-decoration: none;
}

.breakTimer {
  position: relative;
  top: -19px;
  font-size: .7rem;
}

.timer-circle {
  background: -webkit-linear-gradient(left, skyBlue 50%, #eee 50%);
  border-radius: 100%;
  height: calc(var(--size) * 1px);
  width: calc(var(--size) * 1px);
  position: relative;
  -webkit-animation: time calc(var(--duration) * 1s) steps(1000, start) infinite;
    -webkit-mask: radial-gradient(transparent 50%,#000 50%);
    mask: radial-gradient(transparent 50%,#000 50%);
}
.mask {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50%;
  -webkit-animation: mask calc(var(--duration) * 1s) steps(500, start) infinite;
  -webkit-transform-origin: 100% 50%;
}
@-webkit-keyframes time {
  100% {
      -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes mask {
  0% {
      background: #eee;
      -webkit-transform: rotate(0deg);
  }
  50% {
      background: #eee;
      -webkit-transform: rotate(-180deg);
  }
  50.01% {
      background: skyBlue;
      -webkit-transform: rotate(0deg);
  }
  100% {
      background: skyBlue;
      -webkit-transform: rotate(-180deg);
  }
}