@font-face {
  font-family: 'Roboto Flex';
  src: url('fonts/RobotoFlex[GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght].ttf');
  font-weight: 100 1000;
font-stretch: 25% 151%;
}

@font-face {
  font-family: 'Object Sans';
  src: url('fonts/ObjectSans-Regular.woff2');
  font-weight: 100 1000;
font-stretch: 25% 151%;
}

@font-face {
  font-family: 'Object Sans Bold';
  src: url('fonts/ObjectSans-Bold.woff2');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}

:root {
  --fs-big: clamp(1.4rem, 1.8vw, 8rem);
  --fs-normal: clamp(1.2rem, 1.4vw, 5rem);
  --fs-small: clamp(1rem, 1vw, 3rem);
}

*, *:before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {  
  margin: 0;
  padding: 0;
  font-family: 'Object Sans';
  box-sizing: border-box;
  background-color: white;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vw 1vw;
}

ul {
  list-style: none;
}

li a {
  text-decoration: none;
}

body {
  display: flex;
  background-color: rgba(246, 245, 245, 1);
}

input[type='name'] {
  background-color: rgba(239, 243, 244, 1);
  border: none;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.05);
  height: 2em;
  border-radius: 6px;
}

button{
  padding: 5px 20px;
  cursor: pointer;
}

.menu {
  width: 15vw;
  min-height: 100vh;
  border-top-right-radius: 1vw;
  background-color: white;
}

.logoContainer {
  display: grid;
  place-items: center;
  padding: 1em;
}

.logoContainer > img {
  width: 100%;
}

.menu > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 1em;
  gap: .8em;
  max-height: 500px;
}

.menu > ul > li {
  flex-shrink: 0;
}

#ridersButtonListItem {
  flex: 1 0 auto;
}

.navLink {
  color: rgba(88, 88, 88, 1);
  font-size: var(--fs-big);
  cursor: pointer;
  margin-left: 1em;
}

.logo {
  margin-left: 10px;
}

.selected-tab {
  color: black;
}

.navListContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 64vh;
  max-width: 100%;
  background-color: rgba(246, 245, 245, 1);
  margin: .3em .6em;
  border-radius: 8px;
  overflow-x: hidden;
}

.navListContainer > * {
  margin: 0;
  padding: .6em 1em .4em 1em;
  border-bottom: 1px solid rgba(234, 234, 234, 1);
  font-size: var(--fs-small);
}

.see-all-button {
  cursor: pointer;
  text-align: center;
}

.menu-rider-listing {
  display: flex;
  justify-content: space-between;
}

.main {
  display: grid;
  width: 85vw;
  height: 100vh;
  grid-template-rows: 1fr 6fr;
}

.pageTitle {
  font-family: 'Object Sans';
}

.new-rider-button {
  display: flex;
  width: auto;
  padding: 1em 1.5em;
  gap: .5em;
  border-radius: 8px;
}

.new-rider-button > div {
  white-space: nowrap;
}

.addNewButton{
  display: flex;
  font-size: 50px;
  cursor: pointer;
  width: 3em;
  height: 1em;
  background-color: rgba(80, 160, 255, 1);
  border-radius: .2em;
  align-items: center;
  justify-content: space-between;
  padding: 0 .3em;
}

.addNewButton > div {
  color: white;
  font-size: var(--fs-normal);
  margin-top: 3px;
}

.plus {
  width: 14px;
  height: 14px;
}

.contentRiders {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 1em;
  max-height: 100%;
}

.contentRiders > div > h2 {
  font-size: var(--fs-normal);
  color: rgba(85, 85, 85, 1);
  text-align: center;
  padding-right: 1em;
}

.contentRiders > div > ul {
  list-style: none;
  padding: .5em 1em 0 0;
  height: 82vh;
  overflow-y: scroll;
}

.contentRiders > div > ul > li {
  display: flex;
  background-color: white;
  margin-bottom: .5em;
  height: 2em;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  border-radius: .4em;
}

.options-button {
  cursor: pointer;
  width: 20px;
  text-align: center;
}

.options-container {
  position: absolute;
  border: 1px solid rgba(234, 234, 234, 1);
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
}

.options-container > *:not(:last-child) {
  border-bottom: 1px solid rgba(234, 234, 234, 1);
}

.options-container > li {
  padding: 12px 12px 8px 12px;
}

.options-container > li:hover {
  background-color: rgba(234, 234, 234, 1);
}

.contentRotation {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 75% 25%;
  max-width: 100%;
  max-height: 100%;
  padding-left: 1vw;
}

.contentRotation > div {
  background-color: white;
  border-radius: 1vw;
  padding: 2vw 1vw;
  margin: 0 1vw 1vw 0;
}

#onABreakSection {
  grid-column: 1 / 3;
}

.contentRotation > div > p {
  text-align: center;
  font-size: 22px;
}

.rotationList {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.rotationList > li {
  margin: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: rgb(245, 243, 243);
  border-radius: 6px;
  list-style-type: none;
  cursor: pointer;
  height: 100%;
  padding:  6px 6px 2px 6px;
  font-size: 1.4rem;
  border: 1px solid rgba(234, 234, 234, 1);
}

.riderBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* padding: 5px; */
}

.riderDetails {
  /* padding: 5px; */
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  padding-left: 20px;
}

.buttonsContainer > button {
  padding: 2px 5px;
  margin: 0;
  border: transparent;
  background-color: rgb(245, 243, 243);
  cursor: pointer;
}

.break {
  background-image: url(images/break-icon.svg);
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  align-self: baseline;
}

.modal-background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.14);
}

.addRiderBoxContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  top: calc(50vh - 100px);
  left: 50%;
  width: 360px;
  margin-left: -180px;
  box-shadow: 0 4px 30px 0px rgba(0, 0, 0, 0.05);
  border-radius: 18px;
  padding: 1.4em;
}
.addRiderBoxContainer > h2 {
  text-align: center;
  margin-bottom: .5em;
}

.addRiderBoxContainer > label {
  font-size: var(--fs-small);
}
.modal-buttons-container {
  display: flex;
  justify-content: end;
  gap: .5em;
}

.primary-button {
  background-color: rgba(80, 160, 255, 1);
  color: white;
  border: none;
}

.secondary-button {
  background-color: white;
  border: 1px solid rgba(118, 118, 118, 1);
  color: rgba(123, 121, 121, 1);
}

.checkbox-container {
  display: flex;
  justify-content: space-between;
  margin: 1.5em 0;
}

.checkbox-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bikeVisibleInfo {
  display: grid;
  grid-template-columns: 100px 150px auto auto;
  padding-top: 10px;
  padding-left: 10px;
  border-bottom: 1px solid #cbcbcb;
  align-content: center;
}
.bikeEditButton {
  width: 80px;
  justify-self: end;
}

.bikesContainer {
  margin: 20px 30px;
}

.menu-tab {
  font-size: 2.2rem;
  margin-left: .5rem;
  padding-top: 6px;
}

.breakTimer {
  position: relative;
  top: -19px;
  font-size: .7rem;
}

.timer-circle {
  background: -webkit-linear-gradient(left, skyBlue 50%, #eee 50%);
  border-radius: 100%;
  height: calc(var(--size) * 1px);
  width: calc(var(--size) * 1px);
  position: relative;
  -webkit-animation: time calc(var(--duration) * 1s) steps(1000, start) infinite;
    -webkit-mask: radial-gradient(transparent 50%,#000 50%);
    mask: radial-gradient(transparent 50%,#000 50%);
}
.mask {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50%;
  -webkit-animation: mask calc(var(--duration) * 1s) steps(500, start) infinite;
  -webkit-transform-origin: 100% 50%;
}
@-webkit-keyframes time {
  100% {
      -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes mask {
  0% {
      background: #eee;
      -webkit-transform: rotate(0deg);
  }
  50% {
      background: #eee;
      -webkit-transform: rotate(-180deg);
  }
  50.01% {
      background: skyBlue;
      -webkit-transform: rotate(0deg);
  }
  100% {
      background: skyBlue;
      -webkit-transform: rotate(-180deg);
  }
}