@font-face {
  font-family: 'Roboto Flex';
  src: url('fonts/RobotoFlex[GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght].ttf');
  font-weight: 100 1000;
font-stretch: 25% 151%;
}

@font-face {
  font-family: 'Object Sans';
  src: url('fonts/ObjectSans-Regular.woff2');
  font-weight: 100 1000;
font-stretch: 25% 151%;
}

@font-face {
  font-family: 'Object Sans Bold';
  src: url('fonts/ObjectSans-Bold.woff2');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}

*, *:before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {  
  margin: 0;
  padding: 0;
  font-family: 'Object Sans';
  box-sizing: border-box;
  background-color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: black;
    font-size: 1.5rem;
}

.logo {
  margin-left: 20px;
}

.pageTitle {
  margin-left: 20px;
  font-family: 'Object Sans';
}

.plusBox {
  display: flex;
  font-size: 50px;
  cursor: pointer;
  margin-left: 30px;
  margin-top: -4px;
  border: 2px solid black;
  height: 22px;
  width: 22px;
}

.plus {
  width: 12px;
  height: 12px;
  margin-left: 3px;
  margin-top: 3px;
}

.menuIcon {
  margin-right: 25px;
  cursor: pointer;
  margin-left: auto;
}

#main {
  display: grid;
  justify-content: end;
  grid-template-columns: 50% 50%;
  /* padding: 20px; */
}

#main > div > p {
  text-align: center;
  font-size: 22px;
}

ul {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 10px;
  max-width: 50vw;
}

li {
  margin: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  list-style-type: none;
  cursor: pointer;
}

.riderBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  padding-left: 20px;
}

.buttonsContainer > button {
  padding: 2px 5px;
  margin: 0;
  border: transparent;
  background-color: white;
  cursor: pointer;
}

.break {
  background-image: url(images/break-icon.svg);
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  align-self: baseline;
}

.addRiderBoxContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  /* border: 3px solid black; */
  top: 100px;
  left: 50%;
  min-height: 200px;
  width: 300px;
  margin-left: -150px;
  box-shadow: 1px 5px 10px grey;
}

.addRiderBoxContainer > button {
  background-color: white;
  padding: 5px 20px;
  border: 1px solid black;
}

.dropdownBikeSelector {
  width: 150px;
}

.bikeVisibleInfo {
  display: grid;
  grid-template-columns: 100px 150px auto auto;
  padding-top: 10px;
  padding-left: 10px;
  border-bottom: 1px solid #cbcbcb;
  align-content: center;
}
.bikeEditButton {
  width: 80px;
  justify-self: end;
}

.breakTimer {
  align-self: flex-start;
  margin-left: 10px;
}

.menuBox {
  background-color: black;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 33vw;
  height: 100vh;
  top: 0;
  right: 0;
  border: 1px solid black;
  color: white;
  font-size: 34px;
  padding: 20px;
}

.menuBox > * {
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
}

.closeMenu {
  width: 30px;
  align-self: flex-end;
}

.bikesContainer {
  margin: 20px 30px;
}
